export default defineConfig({
    plugins: [
        laravel({
            publicDirectory: '../public_html',
            input: [
                'resources/sass/app.scss',
                'resources/js/app.js',
            ],
            refresh: true,
        }),
    ],
});
